<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
        
      <bean id="toDay" class="java.util.Date"/>
   
      <bean id="dob" class="java.util.Date">
          <property name="year" value="2002"></property>
          <property name="month" value="07"></property>
          <property name="date" value="07"></property>
      </bean>  
	
	<!-- configuring the Target object -->
	
	<bean id="studentInformation" class="in.ineuron.comp.StudentInformation">
	
		<property name="id" value="20" />
		<property name="name" value="Chandan" />
	</bean>		

	<alias name="studentInformation" alias="std"/>
</beans>